.actorData{
    margin-top: 20vh !important;
    width: 75%;
    margin: auto;
}

.actorData__info{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.actorData__img img{
width: 90%;
border-radius: 20px;
}

.actorData__info__title{
    font-size: 2vw;
    margin-bottom: 10px;
}

.actorData__info__date,.actorData__info__rate{
    font-size: 1vw;
    margin-bottom: .5vw;
    color: rgb(172, 172, 172);
}

.actorData__info__desc{
    margin-top: 1.5vw;
    font-size: 1vw;
    line-height: 2vw;

}

@media (max-width:990px){
    .actorData__info__title{
        margin-top: 25px;
        font-size: 3vw;
        margin-bottom: 1.5vw;
    }
    .actorData__info__date,.actorData__info__rate{
        font-size: 1.5vw;
        margin-bottom: 1.2vw;
    }
    .actorData__info__desc{
        font-size: 2vw;
        line-height: 2.5vw;
    }
}